<h4><i class="fas fa-edit"></i> プロフィールの編集</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<!--アカウント編集時に名前を入力できるようにフォームを追加-->
<div>
  <div><%= f.label :name, "ユーザー名：" %></div>
  <%= f.text_field :name, autofocus: true, class: "normal_text", placeholder: "ユーザー名" %>
</div>

<div>
  <div><%= f.label :email, "メールアドレス：" %></div>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "normal_text", placeholder: "メールアドレス" %>
</div>

<!--アカウント編集時にプロフィールを入力できるようにフォームを追加-->
<div>
  <%= f.label :profile, "プロフィール：", class: "" %><br />
  <%= f.text_area :profile, autofocus: true, class: "textarea_comment", placeholder: "プロフィール" %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<!--アカウント編集時に画像を入力できるようにフォームを追加-->
<div>
  <div><%= f.label :image, "プロフィール画像：" %></div>
  <%= f.file_field :image %>
</div>

<% if user_signed_in? && @user.id == current_user.id && current_user.id != 1 && current_user.id != 2 %>
<div class="actions field">
  <%= f.submit "更新する", class: "btn btn-success"  %>
</div>
<% else %>
<div class="actions field">
  <button type="button" class="btn btn-success btn_alert">更新する</button>
</div>
<% end %>
<% end %>

<hr>

<h5>アカウント削除</h5>
<%= "アカウントを削除すると、#{current_user.name}さんの投稿は全て削除され、二度と元に戻せません。十分ご注意ください。" %>
<% if user_signed_in? && @user.id == current_user.id && current_user.id != 1 && current_user.id != 2 %>
<%= link_to "アカウントを削除する", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
<% else %>
<div><button type="button" class="btn btn-outline-danger  btn_alert">アカウントを削除する</button></div>
<% end %>

<%= render "shared/link_back" %>