<% if current_page?(root_path) %>
<% content_for :css do %>
<%= stylesheet_link_tag 'devise' %>
<% end %>

<div class="overlay"></div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="/videos/illustration.mp4" type="video/mp4">
</video>

<div class="col-12 my-auto">
  <div class="masthead-content text-black py-5 py-md-0 new_background">
    <center><%= image_tag '/illusttube.png', class: "new_image" %></center>
    <h2>新規登録(無料)して利用を開始しましょう。</h2>
    <%= render 'layouts/alert' %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <!--サインアップ時にユーザー名を入力できるようにフォームを追加-->
    <div>
      <%= f.label :name, "ユーザー名：", class: "font-weight-bold" %>
      <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名", class: 'normal_text', id: 'user_name' %>
    </div>

    <div>
      <%= f.label :email, "メールアドレス：", class: "font-weight-bold" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'normal_text', id: 'user_email' %>
    </div>

    <div>
      <%= f.label :password, "パスワード：", class: "font-weight-bold" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード ※#{@minimum_password_length}文字以上", class: 'password_text', id: 'user_password' %>
    </div>

    <div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード ※再入力", class: 'normal_text', id: 'user_password_confirmation' %>
    </div>

    <!--サインアップ時に画像を入力できるようにフォームを追加-->
    <div>
      <%= f.label :image, "プロフィール画像：", class: "font-weight-bold" %>
      <%= f.file_field :image %>
    </div>

    <div class="actions field">
      <%= f.submit "新規登録する", class: "btn btn-outline-danger" %>
    </div>
    <% end %>

    <hr class="border_none">

    <%= render "devise/shared/links" %>

    <%= render "devise/shared/test_user_login" %>

    <footer>
      &copy;Teppei Mimachi 2021
    </footer>
  </div>
</div>
</div>

<% else %>
<%= render "devise/shared/error_messages", resource: resource %>
<h4><i class="fas fa-sign-in-alt"></i> 新規登録</h4>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<!--サインアップ時に名前を入力できるようにフォームを追加-->
<div>
  <div><%= f.label :name, "ユーザー名：", class: "" %></div>
  <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名", class: 'normal_text' %>
</div>

<div>
  <div><%= f.label :email, "メールアドレス：", class: "" %></div>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'normal_text' %>
</div>

<div>
  <div><%= f.label :password, "パスワード：", class: "" %></div>
  <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード ※#{@minimum_password_length}文字以上", class: 'password_text' %>
</div>

<div>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード ※再入力", class: 'normal_text' %>
</div>

<!--サインアップ時に画像を入力できるようにフォームを追加-->
<div>
  <div><%= f.label :image, "プロフィール画像：", class: "" %></div>
  <%= f.file_field :image %>
</div>

<div class="actions field">
  <%= f.submit "新規登録する", class: "btn btn-outline-danger" %>
</div>
<% end %>

<hr class="border_none">

<%= render "devise/shared/links" %>

<%= render "devise/shared/test_user_login" %>

&copy;Teppei Mimachi 2021
<% end %>