<%= form_for @post do |f| %>
<%# <%= f.label :content %>
<% @post.errors.full_messages_for(:title).each do |message| %>
<div>
  <%= message %>
</div>
<% end %>
<diV>
  <%= f.text_field :title, placeholder: "タイトル" %>
</div>
<p>
  <% @post.errors.full_messages_for(:url).each do |message| %>
  <div>
    <%= message %>
  </div>
  <% end %>
    <diV>
    <%= f.text_field :url, placeholder: "https://www.youtube.com/watch?v=", value: "https://www.youtube.com/watch?v=#{item.id.video_id}", class: "url_text" %>
    </div>
    <p>

    <%# https://www.youtube.com/watch?v=<%= movie[:id][:video_id] %>

    <%# <%= f.label :tag_list %>
    <%# <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control" %>
  <% @post.errors.full_messages_for(:category_list).each do |message| %>
  <div>
    <%= message %>
  </div>
  <% end %>
    <div class="">カテゴリー</div>
    <div class="col-sm-12">
      <% @categories.each do |tag| %>
      <%= f.check_box :category_list, { multiple: true }, "#{tag.name}", nil %>
      <%= f.label " #{tag.name}(#{tag.taggings_count})", class: "" %>
      <% end %>
    </div>

  <% @post.errors.full_messages_for(:occupation_list).each do |message| %>
  <div>
    <%= message %>
  </div>
  <% end %>
    <div class="">対象職種</div>
    <div class="col-sm-12">
      <% @occupations.each do |tag| %>
      <%= f.check_box :occupation_list, { multiple: true }, "#{tag.name}", nil %>
      <%= f.label " #{tag.name}(#{tag.taggings_count})", class: "" %>
      <% end %>
    </div>

  <% @post.errors.full_messages_for(:target_list).each do |message| %>
  <div>
    <%= message %>
  </div>
  <% end %>
    <%# <label class="col-sm-12">対象者</label> %>
    <div class="">対象者</div>
    <div class="col-sm-12">
      <% @targets.each do |tag| %>
      <%= f.check_box :target_list, { multiple: true }, "#{tag.name}", nil %>
      <%= f.label " #{tag.name}(#{tag.taggings_count})", class: "label label-default" %>
      <% end %>
    </div>


    <% @post.errors.full_messages_for(:content).each do |message| %>
    <div>
      <%= message %>
    </div>
    <% end %>
    <diV>
      <%= f.text_area :content, placeholder: "紹介文" %>
    </div>
    <%= f.submit value: "投稿する" %>
    <% end %>