    <div class="col-md-3 col-md-offset-3 search-form">
        <%= form_tag( youtube_indexx_path,:method => 'get') do %>
            <label for="keyword">検索keyword</label>
            <%= text_field_tag :keyword %>
            <%= submit_tag "検索" %>
        <% end %>
    </div>


        <% @movies.each do |movie| %>
        <li class="movies-item">
            <ul>
                <li>
                    <%= link_to movie[:snippet][:title], "https://www.youtube.com/watch?v=#{movie[:id][:video_id]}", target: "_blank", class: "search-movie-title"  %>
                </li>
                <li>
                    <%= image_tag(movie[:snippet][:thumbnails][:default][:url], alt: "thumbnail", class: "thumbnail") %>
                </li>
            </ul>
        </li>
    <% end %>