<% if request.fullpath =~ /\?keyword\=/ %>
 <div class="col-md-3 col-md-offset-3 search-form">
     <%= form_tag( youtube_indexx_path,:method => 'get') do %>
     <label for="keyword">検索</label>
     <div><%= text_field_tag :keyword %><%= submit_tag "検索" %></div>
     <% end %>
 </div>



 <% @movies.each do |movie| %>
 <div class="movies-item">
     <%# <%= link_to movie[:snippet][:title], "https://www.youtube.com/watch?v=#{movie[:id][:video_id]}", target: "_blank", class: "search-movie-title"  %>

     <%# https://www.youtube.com/watch?v=<%= movie[:id][:video_id] %>

     <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= movie[:id][:video_id] %>" frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen></iframe>
     <%# <%= image_tag(movie[:snippet][:thumbnails][:default][:url], alt: "thumbnail", class: "thumbnail") %>
 </div>
 <dl class="p-faq">
     <dt class="p-faq-title">投稿する</dt>

     <dd class="p-faq-description">
         <%= form_for @post do |f| %>
         <%# <%= f.label :content %>
         <% @post.errors.full_messages_for(:title).each do |message| %>
         <div>
             <%= message %>
         </div>
         <% end %>
         <diV>
             <%= f.text_field :title, placeholder: "タイトル" %>
         </div>
         <p>
             <% @post.errors.full_messages_for(:url).each do |message| %>
             <div>
                 <%= message %>
             </div>
             <% end %>
             <diV>
                 <%= f.text_field :url, placeholder: "https://www.youtube.com/watch?v=", value: "https://www.youtube.com/watch?v=#{movie[:id][:video_id]}", class: "url_text" %>
             </div>
             <p>

                 <%# https://www.youtube.com/watch?v=<%= movie[:id][:video_id] %>

                 <%# <%= f.label :tag_list %>
                 <%# <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control" %>
                 <% @post.errors.full_messages_for(:category_list).each do |message| %>
                 <div>
                     <%= message %>
                 </div>
                 <% end %>
                 <div class="">カテゴリー</div>
                 <div class="col-sm-12">
                     <% @categories.each do |tag| %>
                     <%= f.check_box :category_list, { multiple: true }, "#{tag.name}", nil %>
                     <%= f.label " #{tag.name}(#{tag.taggings_count})", class: "" %>
                     <% end %>
                 </div>

                 <% @post.errors.full_messages_for(:occupation_list).each do |message| %>
                 <div>
                     <%= message %>
                 </div>
                 <% end %>
                 <div class="">対象職種</div>
                 <div class="col-sm-12">
                     <% @occupations.each do |tag| %>
                     <%= f.check_box :occupation_list, { multiple: true }, "#{tag.name}", nil %>
                     <%= f.label " #{tag.name}(#{tag.taggings_count})", class: "" %>
                     <% end %>
                 </div>

                 <% @post.errors.full_messages_for(:target_list).each do |message| %>
                 <div>
                     <%= message %>
                 </div>
                 <% end %>
                 <%# <label class="col-sm-12">対象者</label> %>
                 <div class="">対象者</div>
                 <div class="col-sm-12">
                     <% @targets.each do |tag| %>
                     <%= f.check_box :target_list, { multiple: true }, "#{tag.name}", nil %>
                     <%= f.label " #{tag.name}(#{tag.taggings_count})", class: "label label-default" %>
                     <% end %>
                 </div>


                 <% @post.errors.full_messages_for(:content).each do |message| %>
                 <div>
                     <%= message %>
                 </div>
                 <% end %>
                 <diV>
                     <%= f.text_area :content, placeholder: "紹介文" %>
                 </div>
                 <%= f.submit %>
                 <% end %>
     </dd>
     <p>
         <% end %>
         <%= link_to("YouTubeで確認する", "https://www.youtube.com/", class: 'navbar-brand underscore') %>

<% else %>
 <div class="col-md-3 col-md-offset-3 search-form">
     <%= form_tag( youtube_indexx_path,:method => 'get') do %>
     <label for="keyword">検索</label>
     <div><%= text_field_tag :keyword %><%= submit_tag "検索" %></div>
     <% end %>
 </div>
<% end %>
         <script>
             $('.p-faq-title').on('click', function () {
                 $(this).toggleClass('active');
                 $(this).next().slideToggle();
             });
         </script>