<center>
  <h4><i class="fab fa-youtube"></i> 検索して投稿</h4>
  <%= form_tag( youtube_search_path,:method => 'get') do %>
  <%= text_field_tag :keyword, '', class: '', placeholder: "YouTubeから投稿する" %>
  <%= button_tag :name => nil, :class =>"btn-danger badge-light" do %>
  <i class="fas fa-file-video"></i>検索
  <% end %>
  <% end %>
</center>
<% if request.fullpath =~ /\?keyword\=/ %>
<% @movies.each do |movie| %>
<hr>
<div class="movies-item">
  <div class="col-md-6 mb-md-0 p-md-4">
    <div class="max-youtube">
      <div class="responsibe-youtube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= movie[:id][:video_id] %>?rel=0"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<dl class="p-faq">
  <dt class="p-faq-title">この動画を投稿する</dt>
  <dd class="p-faq-description">

    <%= render "posts/post"%>

  </dd>
  <p>
    <% end %>
    <%= link_to("YouTubeで確認する", "https://www.youtube.com/", class: 'navbar-brand underscore') %>

    <% else %>
    <% end %>
    <script>
      $('.p-faq-title').on('click', function () {
        $(this).toggleClass('active');
        $(this).next().slideToggle();
      });
    </script>