<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-6.mx-auto">
        <span>
            <% if visitor.image.blank? %>
            <%= link_to "/users/#{visitor.id}" do %>
            <%= image_tag '/default.png', class: "icon_image" %>
            <% end %>
            <% else %>
            <%= link_to "/users/#{visitor.id}" do %>
            <img src=<%= visitor.image %> class="icon_image">
            <% end %>
            <% end %>
            <%= link_to user_path(visitor) do %>
            <strong>
                <%= visitor.name %>
            </strong>
            <% end %>
            <%= 'さんが' %>
            <% case notification.action %>
            <% when 'follow' then %>
            <nobr>
                あなたを <i class="fas fa-user-plus"></i> フォローしました
            </nobr>
            <div class="small text-muted text-right">
                <%= time_ago_in_words(notification.created_at).upcase %>前
            </div>
            <hr>
            <% when 'like' then %>
            <nobr>
                <%= link_to 'あなたの投稿', notification.post, style: "font-weight: bold;" %><%= " に" %>
            </nobr>
            <nobr>
                <i class="fas fa-heart unlike-btn" style="color: #e54747;"></i> いいねしました
            </nobr>
            <div class="small text-muted text-right">
                <%= time_ago_in_words(notification.created_at).upcase %>前
            </div>
            <hr>
            <% when 'comment' then %>
            <% if notification.post.user_id == visited.id %>
            <nobr>
                <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %><%= " に" %>
            </nobr>
            <nobr>
                <i class="far fa-comment"></i> コメントしました
            </nobr>
            <% else %>
            <span>
                <nobr>
                    あなたが <i class="far fa-comment"></i> コメントをした
                </nobr>
                <nobr>
                    <% if notification.post.user.image.blank? %>
                    <%= link_to "/users/#{notification.post.user.id}" do %>
                    <%= image_tag '/default.png', class: "icon_image" %>
                    <% end %>
                    <% else %>
                    <%= link_to "/users/#{notification.post.user.id}" do %>
                    <img src=<%= notification.post.user.image %> class="icon_image">
                    <% end %>
                    <% end %>
                    <%= link_to post_path(notification.post) do %>
                    <strong>
                        <%= notification.post.user.name + 'さんの投稿' %>
                    </strong>
                    <% end %>
                    <%= " に" %>
                </nobr>
                <nobr>
                    <i class="far fa-comments "></i> コメントしました
                </nobr>
            </span>
            <% end %>
            <div class="small text-muted text-right">
                <%= time_ago_in_words(notification.created_at).upcase %>前
            </div>
        </span>
    <hr>
</div>
<% end %>