<%= render "shared/link_home" %>
<%# 自分の投稿に対するいいね、コメントは通知に表示しない %>
    <%# <%= link_to destroy_all_users_notifications_path, method: :delete do %>
        <%# <i class="fas fa-trash" style="color: black;"></i> %>
        <%# <h7 style="color: black;">全削除</h7> %>
    <%# <% end %>
    <%# <hr> %>

<center>
<h4><i class="far fa-bell fa-lg"></i> 通知</h4>
<hr>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
<div class="skill-list jscroll">
<%= render notifications %>
<%= paginate notifications %>
</div>
<% else %>
<p>
    通知はありません
</p>
<% end %>
</center>
<%= render "shared/link_home" %>