<% if user_signed_in? %>
<% if current_user.already_liked?(post) %>
<%= link_to post_like_path(post_id: post.id, id: post.likes[0].id), method: :delete, remote: true do %>
<i class="fas fa-heart unlike-btn faa-pulse animated" style="color: #e54747;"></i><span
    style="color: #e54747;">&ensp;<%= post.likes.count %></span>
<% end %>
<% else %>
<%= link_to post_likes_path(post.id), method: :post, remote: true do %>
<i class="far fa-heart like-btn faa-vertical animated" style="color: #808080;"></i><span
    style="color: #808080;">&ensp;<%= post.likes.count %></span>
<% end %>
<% end %>

<h6>いいねしたユーザー：</h6>
<% @post_likes.liked_users.each do |user| %>
<% if user.image.blank? %>
<li class="margin_up_down">
<%= link_to "/users/#{user.id}" do %>
    <%= image_tag '/default.png', class: "icon_image" %>
<% end %>
    <%= link_to "#{user.name}", "/users/#{user.id}", :style => "color: black;" %>
</li>
<% else %>
<li class="margin_up_down">
<%= link_to "/users/#{user.id}" do %>
<img src=<%= user.image %> class="icon_image">
<% end %>
<%= link_to "#{user.name}", "/users/#{user.id}", :style => "color: black;" %></li>
<% end %>
<% end %>
<% end %>