<% if user_signed_in? %>
    <% if current_user.already_liked?(post) %>
        <%# <%= button_to 'いいねを取り消す', post_like_path(post_id: post.id, id: post.likes[0].id), method: :delete, remote: true %>
        <%= link_to post_like_path(post_id: post.id, id: post.likes[0].id), method: :delete, remote: true do %>
            <i class="fas fa-heart unlike-btn" style="color: #e54747;"></i><span style="color: #e54747;"><%= post.likes.count %></span>
        <% end %>
    <% else %>
        <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
            <%# <div class="likeCounts"> %>
                <i class="far fa-heart like-btn" style="color: #808080;"></i><span style="color: #808080;"><%= post.likes.count %></span>
        <% end %>
    <% end %>
            <%# いいね数：
                <%= post.likes.count %>
            <%# </div> %>
            <div>いいねしたユーザー:</div>
                <% @post.liked_users.each do |user| %>
                    <li><%= user.name %></li>
                <% end %>
<% end %>

<style>
a:hover {
    text-decoration: none;
}
</style>