<%= render "shared/link_home" %>
<div class="center-letter">
  <h4><i class="fas fa-users"></i> ユーザー一覧</h4>
</div>
<hr>
<div class="skill-list jscroll">
<% @users.each do |user| %>
<img src=<%= user.image %> class="icon_image">
<%= link_to "#{user.name}", "/users/#{user.id}" %>
<%= link_to "#{user.posts.count}件の投稿があります。", "/users/#{user.id}", :style => "color: black;" %>
<hr>
<% end %>

<%= paginate @users %>
</div>

<%= render "shared/link_home" %>