<div class="center-letter"><h4>ユーザー一覧</h4></div>
<% @users.each do |user| %>
  <img src=<%= user.image %> class = "icon_image">
  <%# <a href="/users/<%= user.id"> %>
  <%# <%= user.name</a> %>
  <%= link_to "#{user.name}", "/users/#{user.id}", data: {"turbolinks"=>false} %>
  <hr>
<% end %>
<%= render "shared/link_home" %>