<%# <% @user.followings.each do |user| %>
<%# <table>
<tr>
  <td>  <%# <%= user.username %> 
  <%# </td>
  <td>  <%= user.email %> 
  <%# </td>
  <td><%= link_to '詳細', user_path(user) %>
  <%# </td>
</tr>

</table>
<% end %>

 <% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followings.count %>
    </strong>
    フォロー中
  </a>

<% @user.followings.each do |user| %>
  <%# <img src=<%= user.image %>
   <%# class = "icon_image"> %>

<% if user.image.blank? %>
</div><%= image_tag '/default.png', class: "icon_image" %><%= link_to "#{user.name}", "/users/#{user.id}", :style => "color: black;" %>
</div>
<% else %>
<div><img src=<%= user.image %> class="icon_image"><%= link_to "#{user.name}", "/users/#{user.id}", :style => "color: black;" %>
</div>
<% end %>

  <%# <a href="/users/<%= user.id"> %>
  <%# <%= user.name</a> %>
  <%# <%= link_to "#{user.name}", "/users/#{user.id}" %>

  <%= link_to '詳細', user_path(user) %>
  <hr>
<% end %>
<%= render "shared/link_home" %>