<h1>ユーザー詳細ページ</h1>

<% if @user.image.blank? %>
  <%= image_tag '/default.png', class: "icon_image_large" %>
<% else %>
<img src=<%= @user.image %> class = "icon_image_large">
<% end %>

<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>プロフィール</h3>
<%= @user.profile%>

<% if user_signed_in? && @user.id == current_user.id %>
  <p><%= link_to "ユーザー情報を編集する", edit_user_registration_path %></p>
<% end %>

<h2>投稿内容</h2>
<% @user.posts.each do |post| %>
  <a href="/posts/<%= post.id %>"><%= post.content %></a>
  <hr>
<% end %>
<h3>いいねしている投稿</h3>
<% @user.liked_posts.each do |post| %>
  <%= post.user.email %>
  <%= post.content %>
<% end %>
<%= link_to "ユーザー一覧へ", users_path %>
<%= link_to "ホームへ戻る", posts_path %>

<%# フォロー関連 %>
<%= render 'follow_form' %>
<%= render 'stats' %>

<% if user_signed_in? && @user.id == current_user.id %>
  <%= link_to "退会", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
<% end %>