 <%= render "shared/link_home" %>
<hr class="border_none">
 <% @user ||= current_user %>
 <div class="stats">
   <a href="<%= following_user_path(@user) %>">
     <strong id="following" class="stat">
       <%= @user.followings.count %>
     </strong>
     フォロー中
   </a>
 </div>
 <hr>
 <% @user.followings.each do |user| %>
 <div>
   <% if user.image.blank? %>
   <%= link_to "/users/#{user.id}" do %>
   <%= image_tag '/default.png', class: "icon_image" %><%= link_to "#{user.name}", "/users/#{user.id}", :style => "color: black;" %>
   <% end %>
   <% else %>
   <%= link_to "/users/#{user.id}" do %>
   <img src=<%= user.image %>
     class="icon_image"><%= link_to "#{user.name}", "/users/#{user.id}", :style => "color: black;" %>
   <% end %>
   <% end %>
   <%= link_to '詳細', user_path(user) %>
 </div>
 <hr>
 <% end %>
 <hr class="border_none">
 <%= render "shared/link_home" %>