<div class="center-letter"><h4>ユーザー詳細ページ</h4></div>

<% if @user.image.blank? %>
  <%= image_tag '/default.png', class: "icon_image_large" %>
<% else %>
<img src=<%= @user.image %> class = "icon_image_large">
<% end %>

<h5>ユーザー名</h5>
<%= @user.name %>
<h5>メールアドレス</h5>
<%= @user.email %>
<h5>プロフィール</h5>
<%= @user.profile%>

<% if user_signed_in? && @user.id == current_user.id %>
  <p><%= link_to "ユーザー情報を編集する", edit_user_registration_path %></p>
<% end %>

<div class="center-letter"><h4>投稿内容</h4></div>

<div  class="skill-list jscroll">





<% @users.each do |post| %>
<%# <% @users.posts.includes(:taggings).each do |post| %>
<%# <%= render partial: "shared/posts_index", collection: @user.posts, as: 'post' %>
<div class="row no-gutters bg-white position-relative box">
    <div class="col-md-6 mb-md-0 p-md-4">
        <div class="max-youtube">
            <div class="responsibe-youtube">
                <iframe width="560" height="315" src="<%= "https://www.youtube.com/embed/#{post.url[32..42]}" %>?rel=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
    <div><%= link_to(post.created_at.strftime("%Y-%m-%d %H:%M:%S"), "/posts/#{post.id}", data: {"turbolinks"=>false}) %></div>
    <% if not post.created_at <= (Time.now.at_beginning_of_day - 72.hour) %>
    <div class="badge badge-secondary">New</div>
    <% else %>
    <% end %>
        <div>
        <%= render 'posts/category_list', category_list: post.category_list, data: {"turbolinks"=>false} %>
        </div>
        <div>
        <%= render 'posts/occupation_list', occupation_list: post.occupation_list, data: {"turbolinks"=>false} %>
        </div>
        <div>
        <%= render 'posts/target_list', target_list: post.target_list, data: {"turbolinks"=>false} %>
        </div>

        <div><%= link_to(post.title, "/posts/#{post.id}", data: {"turbolinks"=>false}) %></div>

        <div><%= link_to(post.content.truncate(40, omission: '...(続きを読む)'), "/posts/#{post.id}", data: {"turbolinks"=>false}) %></div>


        <a href="/users/<%= post.user.id %>">
        <% if @user.image.blank? %>
          <%= image_tag '/default.png', class: "icon_image" %>
        <% else %>
          <img src=<%= @user.image %> class = "icon_image">
        <% end %>
        <%= post.user.name %></a>
        いいね!(<%= post.liked_users.count %>)
    </div>
</div>


<p>



<% end %>
<%= paginate @users %>




</div>



<h3>いいねしている投稿</h3>
<% @user.liked_posts.includes(:user).each do |post| %>
  <div><%= link_to "#{post.user.name}", "/users/#{post.user.id}", data: {"turbolinks"=>false} %><%= link_to(post.title, "/posts/#{post.id}") %></div>
<% end %>
<%= link_to "ユーザー一覧へ", users_path, data: {"turbolinks"=>false} %>
<%= render "shared/link_home" %>

<%# フォロー関連 %>
<%= render 'follow_form' %>
<%# <%= render 'stats' %>

<% if user_signed_in? && @user.id == current_user.id %>
  <%= link_to "退会", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
<% end %>