<%= render "shared/link_home" %>

<div class="center-letter">
    <% if user_signed_in? && @user.id == current_user.id %>
    <h4><i class="fa fa-user-plus"></i> マイページ</h4>
    <% else %>
    <h4><i class="fa fa-user-plus"></i> ユーザー詳細</h4>
    <% end %>
</div>
<hr>
<% if @user.image.blank? %>
<%= image_tag '/default.png', class: "icon_image_large" %>
<% else %>
<img src=<%= @user.image %> class="icon_image_large">
<% end %>
<% if user_signed_in? && @user.id == current_user.id %>
<%= render 'users/stats' %>
<% end %>

<%# フォロー関連 %>
<div class="margin_up_down">
    <%= render 'follow_form' %>
</div>

<h5 class="margin_up_up">ユーザー名</h5>
<%= @user.name %>
<h5 class="margin_up_up">メールアドレス</h5>
<%= @user.email %>
<h5 class="margin_up_up">プロフィール</h5>
<%= @user.profile%>

<% if user_signed_in? && @user.id == current_user.id %>
<p><%= link_to edit_user_registration_path do %>ユーザー情報を編集する <i class="fas fa-edit"></i><% end %></p>
<% elsif current_user.id == 2 %>
<p class="margin_up">
    <%= link_to "強制退会させる", users_hide_path(params[:id]), method: :put, "data-confirm" => "本当に強制退会しますか？", class: "btn btn-outline-danger" %>
</p>
<% end %>

<hr>
<div class="center-letter">
    <h4><i class="fas fa-heart"></i> いいねしている投稿</h4>
</div>
<% if @user.liked_posts.exists? %>
<%= @user.liked_posts.includes(:user).count %>件の投稿をいいねしています。
<% else %>
<center>
いいねをしていません
</center>
<% end %>
<% if @user.liked_posts.includes(:user).count >= 3 %>
<span class="badge">ランダムで2件まで表示</span>
<% end %>
<% @user_favorites.each do |post| %>
<div class="row no-gutters bg-white position-relative box">
    <%= render partial: "posts/index", locals: { post: post } %>
</div>
<p>
    <% end %>

    <hr>
    <div class="center-letter">
        <h4><i class="fas fa-clipboard"></i> 投稿内容</h4>
    </div>
    <% if @users.exists? %>
    <div class="skill-list jscroll">

        <% @users.each do |post| %>
        <div id="parent_flame" class="row no-gutters bg-white position-relative box">
            <%= render partial: "posts/index", locals: { post: post } %>
        </div>
        <p>
            <% end %>
            <%= paginate @users %>
    </div>
    <% else %>
    <center>
    投稿はありません
    </center>
    <% end %>
    <hr>
    <%= render "shared/link_home" %>