<div class="badge">ようこそ</div>
<% if user_signed_in? %>
<% if current_user.image.blank? %>
<%= link_to "/users/#{current_user.id}" do %>
<%= image_tag '/default.png', class: "icon_image" %>
<% end %>
<% else %>
<%= link_to "/users/#{current_user.id}" do %>
<img src=<%= current_user.image %> class="icon_image">
<% end %>
<% end %>
<li class="underscore edge">
  <%= link_to("#{current_user.name}", user_path(current_user.id)) %>
  <div class="badge">さん</div>
</li>
<% else %>
ゲストユーザー
<div class="badge">さん</div>
<div class="small">
※現在一部の機能のみご利用頂けます
</div>
<hr>
<% end %>