<div id="parent_flame" class="row no-gutters bg-white position-relative box">
    <div class="col-md-6 mb-md-0 p-md-4">
        <div class="max-youtube">
            <div class="responsibe-youtube">
                <iframe width="560" height="315" src="<%= "https://www.youtube.com/embed/#{post.url[32..42]}" %>?rel=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
    <span class="posted-date"><%= link_to(post.created_at.strftime("%Y-%m-%d %H:%M:%S"), "/posts/#{post.id}", class: "cp_link") %></span>
    <% if not post.created_at <= (Time.now.at_beginning_of_day - 72.hour) %>
    <div class="badge badge-secondary balloonoya">New
     <span class="balloon">3日以内の投稿です。</span>
     </div>
    <% else %>
    <% end %>
        <div>
        <%= render 'posts/category_list', category_list: post.category_list %>
        </div>
        <div>
        <%= render 'posts/occupation_list', occupation_list: post.occupation_list %>
        </div>
        <div>
        <%= render 'posts/target_list', target_list: post.target_list %>
        </div>

<div class="box26">
        <span class="box-title cp_link_b"><%= link_to(post.title, "/posts/#{post.id}") %></span>

        <p><%= link_to(post.content.truncate(40, omission: '...(続きを読む)'), "/posts/#{post.id}", class: "cp_link_b") %></p>
</div>

<div id="child_flame_br">
        投稿者:<a href="/users/<%= post.user.id %>"><img src=<%= post.user.image %> class = "icon_image"><%= post.user.name %></a>
        
       コメント:<%= post.comments.count %>件


    <% if not post.liked_users.count == 0 %>
            <i class="fas fa-heart unlike-btn" style="color: #e54747;"></i><span style="color: #e54747;"><%= post.likes.count %></span>
    <% else %>
            <i class="far fa-heart like-btn" style="color: #808080;"></i><span style="color: #808080;"><%= post.likes.count %></span>
    <% end %>
</div>

    </div>
</div>
<p>