<% @posts.each do |post| %>

<div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <div class="max-youtube">
            <div class="responsibe-youtube">
                <iframe width="560" height="315" src="<%= "https://www.youtube.com/embed/#{post.url[32..42]}" %>?rel=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">

        <div></div>

        <div><%= render 'posts/tag_list', tag_list: post.tag_list %></div>

        <div><%= link_to(post.title, "/posts/#{post.id}") %></div>

        <p><%= link_to(post.content, "/posts/#{post.id}") %></p>

        <a href="/users/<%= post.user.id %>"><%= post.user.email %></a>
        <p><a href="/posts/<%= post.id %>"><%= post.content %></a></p>
        (<%= post.liked_users.count %>)
    </div>
</div>
<p>
    <% end %>
