<h2>投稿する</h2>
  <%= form_for @post do |f| %>
    <%# <%= f.label :content %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
    <div>
      <%= message %>
    </div>
    <% end %>
    <diV>
    <%= f.text_field :title, placeholder: "タイトル" %>
    </div>
    <p>

    <% @post.errors.full_messages_for(:url).each do |message| %>
    <div>
      <%= message %>
    </div>
    <% end %>
    <diV>
    <%= f.text_field :url, placeholder: "YouTubeのURLを入力して下さい", class: "url_text" %>
    </div>
    <p>




<%# <%= f.label :tag_list %>
<%# <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control" %>


<%# 追加 %>
    <%# <label class="col-sm-12">タグ</label> %>
      <%# <div class="col-sm-12"> %>
        <%# <% @tags.each do |tag| %>
          <%# <%= f.check_box :tag_list, { multiple: true }, "#{tag.name}", nil %>
          <%# <%= f.label " #{tag.name}(#{tag.taggings_count})", class: "label label-default" %>
        <%# <% end %>
      <%# </div> %>


    <label class="col-sm-12">カテゴリー</label>
      <div class="col-sm-12">
        <% @a.each do |tag| %>
          <%= f.check_box :category_list, { multiple: true }, "#{tag.name}", nil %>
          <%= f.label " #{tag.name}(#{tag.taggings_count})", class: "label label-default" %>
        <% end %>
      </div>

    <label class="col-sm-12">対象職種</label>
      <div class="col-sm-12">
        <% @b.each do |tag| %>
          <%= f.check_box :occupation_list, { multiple: true }, "#{tag.name}", nil %>
          <%= f.label " #{tag.name}(#{tag.taggings_count})", class: "label label-default" %>
        <% end %>
      </div>

    <label class="col-sm-12">対象者</label>
      <div class="col-sm-12">
        <% @c.each do |tag| %>
          <%= f.check_box :target_list, { multiple: true }, "#{tag.name}", nil %>
          <%= f.label " #{tag.name}(#{tag.taggings_count})", class: "label label-default" %>
        <% end %>
      </div>


    <% @post.errors.full_messages_for(:content).each do |message| %>
    <div>
      <%= message %>
    </div>
    <% end %>
    <diV>
    <%= f.text_area :content, placeholder: "紹介文" %>
    </div>
    <%= f.submit %>
  <% end %>