<%= form_for @post do |f| %>
<div><%= f.label :title, "タイトル：", class: "font-weight-bold field" %></div>
<% @post.errors.full_messages_for(:title).each do |message| %>
<div class="badge badge-warning">
  <%= message %>
</div>
<% end %>
<div>
  <%= f.text_field :title, placeholder: "24文字以内で入力", class: "post_title_text", id: "post_title" %>
</div>
<div class="youtube_show"><%= f.label :url, "紹介したいYouTubeのURL：", class: "font-weight-bold field" %><div class="badge">動画を探してみる</div></div>
<div class="p-faq-description">
<li><%= link_to("本サイトIllustTubeから", youtube_search_path(keyword: "キャラクター 上達"), target: :_blank) %></li>
<li><%= link_to("YouTube公式サイトから", "https://www.youtube.com/results?search_query=キャラクター 上達", target: :_blank) %></li>
</div>
<% @post.errors.full_messages_for(:url).each do |message| %>
<div class="badge badge-warning">
  <%= message %>
</div>
<% end %>
<diV>
  <%= f.text_field :url, placeholder: "https://www.youtube.com/watch?v=", class: "url_text", id: "post_url" %>
</div>
<div class="font-weight-bold field">カテゴリー：</div>
<% @post.errors.full_messages_for(:category_list).each do |message| %>
<div class="badge badge-warning">
  <%= message %>
</div>
<% end %>
<div class="col-sm-12">
  <% @categories.each do |tag| %>
  <span class="check_paragraph"><%= f.check_box :category_list, { multiple: true }, "#{tag.name}", nil %>
    <%= f.label "#{tag.name}(#{tag.taggings_count})", class: "badge badge-primary" %></span>&emsp;
  <% end %>
</div>
<div class="font-weight-bold field">対象職種：</div>
<% @post.errors.full_messages_for(:occupation_list).each do |message| %>
<div class="badge badge-warning">
  <%= message %>
</div>
<% end %>
<div class="col-sm-12">
  <% @occupations.each do |tag| %>
  <span class="check_paragraph"><%= f.check_box :occupation_list, { multiple: true }, "#{tag.name}", nil %>
    <%= f.label "#{tag.name}(#{tag.taggings_count})", class: "badge badge-success" %></span>&emsp;
  <% end %>
</div>
<div class="font-weight-bold field">対象者：</div>
<% @post.errors.full_messages_for(:target_list).each do |message| %>
<div class="badge badge-warning">
  <%= message %>
</div>
<% end %>
<div class="col-sm-12">
  <% @targets.each do |tag| %>
  <span class="check_paragraph"><%= f.check_box :target_list, { multiple: true }, "#{tag.name}", nil %>
    <%= f.label "#{tag.name}(#{tag.taggings_count})", class: "badge badge-danger" %></span>&emsp;
  <% end %>
</div>
<div><%= f.label :content, "紹介文：", class: "font-weight-bold field" %></div>
<% @post.errors.full_messages_for(:content).each do |message| %>
<div class="badge badge-warning">
  <%= message %>
</div>
<% end %>
<diV>
  <%= f.text_area :content, placeholder: "300文字内で入力", class: "textarea", id: "post_content" %>
</div>
<%= f.submit '投稿する', class: 'btn btn-primary' %>
<% end %>