      <hr>
      <%# <h5>カテゴリーから探す</h5> %>
      <% @categories.each do |tag| %>
      <%# <div class="badge badge-pill badge-primary"> %>
        <%# <i class="fas fa-tag"></i> %>
        <%# <%= link_to("#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name), class: "badge badge-pill badge-primary", data: {"turbolinks"=>false}) %>

        <%= link_to posts_path(tag_name: tag.name), class: "badge badge-pill badge-primary", data: {"turbolinks"=>false} do %>
        <i class="fas fa-tag"></i><%= tag.name %>(<%= tag.taggings_count %>)
        <% end %>

      <%# </div> %>
      <% end %>
      <%# <h5>対象職種から探す</h5> %>
      <hr>
      <% @occupations.each do |tag| %>
      <%# <div class="badge badge-pill badge-success"> %>

        <%= link_to posts_path(tag_name: tag.name), class: "badge badge-pill badge-success", data: {"turbolinks"=>false} do %>
        <i class="fas fa-tags"></i><%= tag.name %>(<%= tag.taggings_count %>)
        <% end %>

      <%# </div> %>
      <% end %>
      <%# <h5>対象者から探す</h5> %>
      <hr>
      <% @targets.each do |tag| %>
      <%# <div class="badge badge-pill badge-danger"> %>

        <%= link_to posts_path(tag_name: tag.name), class: "badge badge-pill badge-danger", data: {"turbolinks"=>false} do %>
        <i class="fas fa-user-tag"></i><%= tag.name %>(<%= tag.taggings_count %>)
        <% end %>

      <%# </div> %>
      <% end %>