<div class="center-letter">
    <h4>検索結果</h4>
</div>
<div>「<%= params[:search] %>」のキーワードで<%= @posts_count %>件の記事が投稿されています。</div>
<% if request.fullpath =~ /\?search\=$/ %>
<div>この検索は無効です。キーワードを入力してください。</div>
<%= render "shared/posts_search" %>
<% else %>
<div class="skill-list jscroll">
    <% @posts.includes(:taggings, :user).each do |post| %>
    <%= render partial: "index", collection: @posts, as: 'post' %>
    <% end %>
    <%= paginate @posts %>
</div>
<div>もし、ご希望のYouTube動画が見つからなかった場合、あなたが投稿者になって皆様の学習をサポートしてみませんか？</div>
<%# <%= render "shared/posts_search" %>
<%# キーワードを入力して検索して下さい。 %>
<% end %>
