<%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>

<% if @inquiry.errors.any? %>
<div class="alert alert-danger" role="alert">入力内容にエラーがあります。
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<% end %>
<h4><i class="fas fa-envelope"></i> お問い合わせ</h4>

<% @inquiry.errors.full_messages_for(:name).each do |message| %>
<div class="badge badge-warning">
  <%= message %>
</div>
<% end %>
<% if user_signed_in? %>
<div class="field"><%= f.text_field :name, placeholder: "お名前", value: "#{current_user.name}", class: 'normal_text' %></div>
<% else %>
<div class="field"><%= f.text_field :name, placeholder: "お名前", class: 'normal_text' %></div>
<% end %>

<% @inquiry.errors.full_messages_for(:email).each do |message| %>
<div class="badge badge-warning">
  <%= message %>
</div>
<% end %>
<% if user_signed_in? %>
<div class="field"><%= f.email_field :email, placeholder: "メールアドレス", value: "#{current_user.email}", class: 'normal_text' %></div>
<% else %>
<div class="field"><%= f.email_field :email, placeholder: "メールアドレス", class: 'normal_text' %></div>
<% end %>

<% @inquiry.errors.full_messages_for(:message).each do |message| %>
<div class="badge badge-warning">
  <%= message %>
</div>
<% end %>
<div class="field"><%= f.text_area :message, placeholder: "お問い合わせ内容" %></div>
<div><%= f.submit '確認する', class: 'btn btn-primary' %></div>
<% end %>