<!DOCTYPE html>
<html>

<head>
  <title>IllustTube</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width,initial-scale=1"> <!-- 画面サイズに表示を調整 -->
  <%# <script src="https://kit.fontawesome.com/5e4f54e2ab.js" crossorigin="anonymous"></script> %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css"
    type="text/css" media="all" />


    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> %>



  <%# <script src="https://code.jquery.com/jquery-3.3.1.js"></script> %>
  <%# 開発用Vue.js %>
  <%# <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> %>
  <%# 本番用Vue.js %>
  <%# <script src="https://cdn.jsdelivr.net/npm/vue"></script> %>
  <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script> %>
</head>

<body>
  <% if not current_page?(root_path) || current_page?(new_user_registration_path) %>
  <header id="grid-header">
    <div class="shadow-sm p-3 mb-3 bg-white rounded">
      <nav class="navbar navbar-expand-lg">
        <%# class: 'navbar-brand underscore' %>
        <%# <%= link_to image_tag("/illusttube.png", class:"title_image", data: {"turbolinks"=>false}) %>
        <%= link_to posts_path do %>
        <%= image_tag("/illusttube.png", class:"title_image") %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
            <!-- ログインしている場合 -->
            <%# PC & タブレット用 %>
            <li class="nav-item underscore">
              <%= link_to user_path(current_user.id), class: 'nav-link', method: :get do %>
              <i class="fa fa-user-plus"></i> マイページ
              <% end %>
            <li class="nav-item underscore">
              <%= link_to users_path, class: 'nav-link', method: :get do %>
              <i class="fas fa-users"></i> ユーザー一覧
              <% end %>
            <li class="nav-item underscore">
              <%= link_to new_post_path, class: 'nav-link', method: :get do %>
              <i class="fas fa-clipboard"></i> 新規投稿
              <% end %>
            <li class="nav-item underscore">
              <%= link_to inquiry_index_path, class: 'nav-link', method: :get do %>
              <i class="fas fa-envelope"></i> お問い合わせ
              <% end %>




            <%# 仮 %>
            <li class="nav-item underscore">
              <%= link_to youtube_search_path, class: 'nav-link', method: :get do %>
              <i class="fab fa-youtube faa-flash animated"></i> 検索して新規投稿
              <% end %>

              <%# <li class="nav-item underscore">
              <%= link_to("YouTube1", youtube_index_path, class: 'nav-link') %>
            <%# 仮ここまで %>
            </li>

            <div class="spview">
              <%# タブレット用 %>
              <hr>



              <% if current_user.image.blank? %>
              <%= image_tag '/default.png', class: "icon_image" %>
              <% else %>
              <img src=<%= current_user.image %> class="icon_image">
              <% end %>
              <li class="underscore">
                <%= link_to("#{current_user.name}", user_path(current_user.id), class: '') %>
              </li>
              <%= render 'users/stats' %>

              <%# いずれ編集するここから %>


                <li class="">
                  <%= link_to destroy_user_session_path, class: 'btn btn-secondary', method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                  <% end %>

              <%# <%= link_to("ログアウト", destroy_user_session_path, :method => :delete, class: '') %>



              
              <ul class="navbar-nav mr-auto">
                <li class="nav-item underscore">
                  <%= link_to user_path(current_user.id), class: 'nav-link', method: :get do %>
                  <i class="fas fa-envelope"></i> <%= current_user.name %>
                  <% end %>

                <li class="nav-item underscore">
                  <%= link_to("#{current_user.name}", user_path(current_user.id), class: 'nav-link') %>
                </li>
                <%# <li class="">
                  <%= link_to("ログアウト", destroy_user_session_path, :method => :delete, class: 'btn btn-secondary') %>
                <%# </li> %>
              </ul>
              <%# いずれ編集するここまで %>



              <center>
                <%# タブレット用 %>
                <%# <div class="field"> %>
                <hr>
                <%= form_tag(search_path,:method => 'get') do %>
                <%= text_field_tag :search, '', class: '', placeholder: "投稿記事を探す" %>
                <%# <%= submit_tag '検索', class: "btn-outline-info badge-light", :name => nil %>
                <%= button_tag :name => nil, :class =>"btn-outline-info badge-light" do %>
                <i class="fa fa-search"></i>検索
                <%# </div> %>
                <% end %>
                <% end %>
              </center>

              <%# <div class="col-md-3 col-md-offset-3 search-form">
                <%= form_tag( youtube_search_path,:method => 'get') do %>
              <%# <div><%= text_field_tag :keyword %>
              <%# <%= submit_tag "YouTubeから探す" %>
              <%# </div> %>
              <%# <% end %>
              <%# </div> %>




<%# ------------------------------------------------------ %>


      <hr>
      <%# <h5>カテゴリーから探す</h5> %>
      <% @categories.each do |tag| %>
      <%# <div class="badge badge-pill badge-primary"> %>
        <%# <i class="fas fa-tag"></i> %>
        <%# <%= link_to("#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name), class: "badge badge-pill badge-primary") %>

        <%= link_to posts_path(tag_name: tag.name), class: "badge badge-pill badge-primary" do %>
        <i class="fas fa-tag"></i><%= tag.name %>(<%= tag.taggings_count %>)
        <% end %>

      <%# </div> %>
      <% end %>
      <%# <h5>対象職種から探す</h5> %>
      <hr>
      <% @occupations.each do |tag| %>
      <%# <div class="badge badge-pill badge-success"> %>

        <%= link_to posts_path(tag_name: tag.name), class: "badge badge-pill badge-success" do %>
        <i class="fas fa-tags"></i><%= tag.name %>(<%= tag.taggings_count %>)
        <% end %>

      <%# </div> %>
      <% end %>
      <%# <h5>対象者から探す</h5> %>
      <hr>
      <% @targets.each do |tag| %>
      <%# <div class="badge badge-pill badge-danger"> %>

        <%= link_to posts_path(tag_name: tag.name), class: "badge badge-pill badge-danger" do %>
        <i class="fas fa-user-tag"></i><%= tag.name %>(<%= tag.taggings_count %>)
        <% end %>

      <%# </div> %>
      <% end %>






<%# ------------------------------------------------------ %>




              <footer>
                &copy;Teppei Mimachi 2021
              </footer>
            </div>
            <% else %>
            <!-- ログアウトしている場合 -->
            <li class="nav-item underscore">
              <%= link_to new_user_registration_path, class: 'nav-link', method: :get do %>
              <i class="fas fa-sign-in-alt"></i> ユーザー登録
              <% end %>
              <%# <li class="nav-item underscore">
                <%= link_to new_user_session_path, class: 'nav-link', method: :get do %>
              <%# <i class="fas fa-sign-in-alt"></i> ログイン %>
              <%# <% end %>
              <% end %>
              <%# <div class="spview">
              <footer>
                &copy;Teppei Mimachi 2020
              </footer>
            </div> %>
          </ul>


          <div class="fixed pcview">
            <%# 右に表示できる %>
            <li class="nav-item underscore">
              <%= link_to youtube_search_path, class: 'nav-link', method: :get do %>
              <i class="fab fa-youtube faa-flash animated"></i> 検索して新規投稿
              <% end %>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <% end %>

  <aside class="px-3">
    <% if user_signed_in? %>
    <%# <p class="faa-parent animated-hover">
    <i class="fas fa-music faa-bounce"></i>
    </p> %>







    <div class="fixed pcview">
      <%# PC用 %>
      <center>
      <% if current_user.image.blank? %>
      <%= image_tag '/default.png', class: "icon_image" %>
      <% else %>
      <img src=<%= current_user.image %> class="icon_image">
      <% end %>
      <li class="underscore">
        <%= link_to("#{current_user.name}", user_path(current_user.id), class: '') %>
      </li>
      <%= render 'users/stats' %>
      <%= link_to destroy_user_session_path, class: 'btn btn-outline-dark', method: :delete do %>
      <i class="fas fa-sign-out-alt"></i>ログアウト
      <% end %>
      </center>
      <%# <div class="col-md-3 col-md-offset-3 search-form"> %>
      <%# <%= form_tag( youtube_search_path,:method => 'get') do %>
      <%# <label for="keyword">YouTubeから探す</label> %>
      <%# <div><%= text_field_tag :keyword, '',　class: '', placeholder: "YouTubeから新規投稿" %>
      <%# <%= submit_tag "検索" %>
      <%# </div> %>
      <%# <% end %>
      <%# </div> %>

      <hr>
      <center>
        <%# PC用 %>
        <%= form_tag(search_path,:method => 'get') do %>
        <%= text_field_tag :search, '', class: '', placeholder: "投稿記事を探す" %>
        <%# <%= submit_tag '検索', class: "btn-outline-info badge-light", :name => nil %>
        <%= button_tag :name => nil, :class =>"btn-outline-info badge-light" do %>
        <i class="fa fa-search"></i>検索
        <% end %>
        <% end %>
      </center>




<%# ------------------------------------------------------ %>






      <hr>
      <%# <h5>カテゴリーから探す</h5> %>
      <% @categories.each do |tag| %>
      <%# <div class="badge badge-pill badge-primary"> %>
        <%# <i class="fas fa-tag"></i> %>
        <%# <%= link_to("#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name), class: "badge badge-pill badge-primary") %>

        <%= link_to posts_path(tag_name: tag.name), class: "badge badge-pill badge-primary" do %>
        <i class="fas fa-tag"></i><%= tag.name %>(<%= tag.taggings_count %>)
        <% end %>

      <%# </div> %>
      <% end %>
      <%# <h5>対象職種から探す</h5> %>
      <hr>
      <% @occupations.each do |tag| %>
      <%# <div class="badge badge-pill badge-success"> %>

        <%= link_to posts_path(tag_name: tag.name), class: "badge badge-pill badge-success" do %>
        <i class="fas fa-tags"></i><%= tag.name %>(<%= tag.taggings_count %>)
        <% end %>

      <%# </div> %>
      <% end %>
      <%# <h5>対象者から探す</h5> %>
      <hr>
      <% @targets.each do |tag| %>
      <%# <div class="badge badge-pill badge-danger"> %>

        <%= link_to posts_path(tag_name: tag.name), class: "badge badge-pill badge-danger" do %>
        <i class="fas fa-user-tag"></i><%= tag.name %>(<%= tag.taggings_count %>)
        <% end %>

      <%# </div> %>
      <% end %>








<%# ------------------------------------------------------ %>
      <% else %>
      <% end %>



      <% if user_signed_in? %>
      <footer>
        &copy;Teppei Mimachi 2020
      </footer>
      <% end %>
    </div>
  </aside>



  <main class="shadow-none p-3 mb-5 bg-white rounded">

    <%= render 'layouts/alert' %>

    <%= yield %>

    <%# <div id="app">
      {{ message }}
    </div> %>

    <div id="page_top"><a href="#"></a></div>
  </main>
  <%# <% if not current_page?(root_path) || current_page?(new_user_registration_path) %>
  <%# <footer>
    &copy;Teppei Mimachi 2020
  </footer> %>
  <%# <% end %>

  <%# <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Vue.jsで表示'
      }
    })
  </script> %>

<%# ローディングの表示 %>
  <%# <div class="loader-wrap">
    <div class="loader">Loading...</div>
  </div> %>
</body>

</html>