<!DOCTYPE html>
<html>

<head>
  <title>Illustration</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width,initial-scale=1"> <!-- 画面サイズに表示を調整 -->
  <%# <script src="https://kit.fontawesome.com/5e4f54e2ab.js" crossorigin="anonymous"></script> %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css"
    type="text/css" media="all" />

  <%# <script src="https://code.jquery.com/jquery-3.3.1.js"></script> %>
  <%# 開発用Vue.js %>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <%# 本番用Vue.js %>
  <%# <script src="https://cdn.jsdelivr.net/npm/vue"></script> %>
  <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script> %>
</head>

<body>
  <header id="grid-header">
    <div class="shadow-sm p-3 mb-3 bg-white rounded">
      <nav class="navbar navbar-expand-lg">
        <%= link_to("イラストアプリ", root_path, class: 'navbar-brand underscore', data: {"turbolinks"=>false}) %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
            <!-- ログインしている場合 -->
            <li class="nav-item underscore">
              <%= link_to("マイページへ", user_path(current_user.id), class: 'nav-link', data: {"turbolinks"=>false}) %>
            </li>
            <li class="nav-item underscore">
              <%= link_to("ユーザー一覧へ", users_path, class: 'nav-link', data: {"turbolinks"=>false}) %>
            </li>
            <li class="nav-item underscore">
              <%= link_to("新規投稿", new_post_path, class: 'nav-link', data: {"turbolinks"=>false}) %>
            </li>
            <li class="nav-item underscore">
              <%= link_to("YouTube1", youtube_index_path, class: 'nav-link', data: {"turbolinks"=>false}) %>
            </li>
            <li class="nav-item underscore">
              <%= link_to("YouTube2検索", youtube_indexx_path, class: 'nav-link', data: {"turbolinks"=>false}) %>
            </li>
            <li class="nav-item underscore">
              <%= link_to("お問い合わせ", inquiry_index_path, class: 'nav-link', data: {"turbolinks"=>false}) %>
            </li>

            <div class="spview">
              <li class="nav-item underscore">
                <%= link_to("#{current_user.name}", user_path(current_user.id), class: 'nav-link', data: {"turbolinks"=>false}) %>
              </li>
              <li class="nav-item underscore">
                <%= link_to("ログアウト", destroy_user_session_path, :method => :delete, class: 'nav-link', data: {"turbolinks"=>false}) %>
              </li>
              <center>
                <%= form_tag(search_path,:method => 'get') do %>
                <%= text_field_tag :search, '', class: '', placeholder: "記事を探す" %>
                <%= submit_tag '検索する', :name => nil %>
                <% end %>
              </center>
              <h5>カテゴリーから探す</h5>
              <% @categories.each do |tag| %>
              <%= link_to("#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name), class: "nav-link", data: {"turbolinks"=>false}) %>
              <% end %>
              <h5>対象職種から探す</h5>
              <% @occupations.each do |tag| %>
              <%= link_to("#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name), class: "nav-link", data: {"turbolinks"=>false}) %>
              <% end %>
              <h5>対象者から探す</h5>
              <% @targets.each do |tag| %>
              <%= link_to("#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name), class: "nav-link", data: {"turbolinks"=>false}) %>
              <%# data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
            <% else %>
            <!-- ログアウトしている場合 -->
            <li class="nav-item underscore">
              <%= link_to"ユーザー登録", new_user_registration_path, class: "nav-link", data: {"turbolinks"=>false} %>
            </li>
            <li class="nav-item underscore">
              <%= link_to"ログイン", new_user_session_path, class: "nav-link", data: {"turbolinks"=>false} %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <aside class="px-3">
    <p class="faa-parent animated-hover">
      <i class="fas fa-music faa-bounce"></i>
    </p>
    <div class="col-md-3 col-md-offset-3 search-form">
      <%= form_tag( youtube_indexx_path,:method => 'get') do %>
      <label for="keyword">検索</label>
      <div><%= text_field_tag :keyword %><%= submit_tag "検索" %></div>
      <% end %>
    </div>
    <div class="fixed pcview">
      <% if user_signed_in? %>
      <% if current_user.image.blank? %>
      <%= image_tag '/default.png', class: "icon_image" %>
      <% else %>
      <img src=<%= current_user.image %> class="icon_image">
      <% end %>
      <li class="underscore">
        <%= link_to("#{current_user.name}", user_path(current_user.id), class: '', data: {"turbolinks"=>false}) %>
      </li>
      <%= render 'users/stats' %>
      <%= link_to("ログアウト", destroy_user_session_path, :method => :delete, class: '', data: {"turbolinks"=>false}) %>
      <center>
        <%= form_tag(search_path,:method => 'get') do %>
        <%= text_field_tag :search, '', class: '', placeholder: "記事を探す" %>
        <%= submit_tag '検索する', :name => nil %>
        <% end %>
      </center>


      <h5>カテゴリーから探す</h5>
      <% @categories.each do |tag| %>
      <%= link_to("#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name), class: "", data: {"turbolinks"=>false}) %>
      <% end %>
      <h5>対象職種から探す</h5>
      <% @occupations.each do |tag| %>
      <%= link_to("#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name), class: "", data: {"turbolinks"=>false}) %>
      <% end %>
      <h5>対象者から探す</h5>
      <% @targets.each do |tag| %>
      <%= link_to("#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name), class: "label label-default", data: {"turbolinks"=>false}) %>
      <% end %>
      <% else %>
      <li class="nav-item underscore">
        <%= link_to"ユーザー登録", new_user_registration_path, class: '', data: {"turbolinks"=>false} %>
      </li>
      <li class="nav-item underscore">
        <%= link_to"ログイン", new_user_session_path, class: '', data: {"turbolinks"=>false} %>
      </li>
      <%# <%= render "devise/shared/test_user_login" %>
      <%# <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%# <div class="test-user"> %>
      <%# <%= f.hidden_field :email, value: ENV['TEST_USER'] %>
      <%# <%= f.hidden_field :password, value: ENV['TEST_USER_PASSWORD'] %>
      <%# <%= f.submit 'テストログイン', class: 'btn btn-outline-dark' %>
      <%# </div> %>
      <%# <% end %>
      <% end %>
    </div>
  </aside>



  <main class="shadow-none p-3 mb-5 bg-white rounded">

    <%= render 'layouts/alert' %>

    <%= yield %>
    <div id="app">
      {{ message }}
    </div>

    <%# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css"> %>
    <div id="page_top"><a href="#"></a></div>
  </main>

  <footer>
    &copy;Teppei Mimachi 2020
  </footer>

  <%# <% if @path %>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Vue.jsで表示'
      }
    })
  </script>
  <%# <% else %>
  <%# <% end %>

  <div class="loader-wrap">
    <div class="loader">Loading...</div>
  </div>
</body>

</html>

<%# <input id="acd-check1" class="acd-check" type="checkbox">
<label class="acd-label" for="acd-check1">クリックで開く1<i class="fas fa-angle-double-down fa-1x fa-pull-right"></i></span></label>
<div class="acd-content">
  <p>hello.world!</p>
</div> %>
<%# <input id="acd-check2" class="acd-check" type="checkbox">
<label class="acd-label" for="acd-check2">クリックで開く2<i class="fas fa-angle-double-down fa-1x fa-pull-right"></i></label>
<div class="acd-content">
  <p>hello.world2!</p>
</div> %>